.product_contents {
  font-family: Poppins;
  padding-top: 60px;
  text-align: center;
}
.product_contents h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 52.5px;
  color: #22262a;
}
.product_contents ul {
  justify-content: center;
  padding: 30px 0 23px;
  gap: 60px;
}
.product_contents li {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  transition: 0.1s linear;
}
.product_contents li:hover {
  color: #33a0ff;
  text-decoration: underline;
}
.product_contents button {
  color: #33a0ff;
  background: #fff;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  padding: 32px 0 40px;
}
.categories {
  overflow: hidden;
  overflow-x: auto;
  display: none;
}
.wishlist {
  padding: 0 !important;
}
.btn {
  font-family: Nova;
  font-size: 18px;
  font-weight: 400 !important;
  line-height: 21.92px;
  text-align: left;
  padding: 6px 12px;
  color: #fff;
  background: #ff4858;
  border-radius: 4px;
  width: 64px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.product_card:first-child .btn {
  display: block !important;
}
.product_cards {
  padding-top: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  padding-bottom: 44px;
}
.pro_icons {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  color: #33a0ff;
  position: absolute;
  top: 0;
  width: 100%;
  height: 280px;
  opacity: 0;
  background: #fff;
  transition: all 0.3s ease-out;
}
.pro_icons:hover {
  opacity: 0.9;
}
.pro_icon {
  padding: 12px 16px 8px 16px;
  border-radius: 100%;
  font-size: 24px;
  border: 2px solid #33a0ff;
}
.product_card {
  padding: 12px;
  border-radius: 6px;
  position: relative;
  width: 290px;
  border: 3px solid #f6f7f8;
}

.image {
  background: #f1f1f1;
  width: 100%;
  height: 270px;
  background-size: contain;
}
.image:hover {
  opacity: 0.3;
}
.product_card h3 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-top: 12px;
}
@media (max-width: 1200px) {
  .product_contents ul {
    padding-top: 24px !important;
  }
}
