.hero {
  background-image: url("../../assets/hero-image.png") !important;
  height: 650px;
  margin: 0 auto;
  width: 100%;
  font-family: Poppins;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero_contents h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 0.5px;
  color: #fff;
  max-width: 570px;
  width: 100%;
  padding-top: 16%;
}
.hero_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -120px;
  gap: 4px;
}
.hero_card {
  position: relative;
  padding: 12px;
  transition: 0.2s ease-out;
}
.hero_card:hover {
  transform: scale(1.02);
}
.hero_card h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #223263;
  width: 170px;
  position: absolute;
  top: 30px;
  left: 50px;
}
.purse {
  width: 200px !important;
}
.hero_card p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #9098b1;
  text-decoration: line-through;
}
.hero_card span {
  font-weight: 700;
  color: #fb7181;
  text-decoration: none !important;
}
.first {
  position: absolute;
  bottom: 64px;
  left: 50px;
}
.hero_card h4 {
  font-size: 30px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0.5px;
  color: #40bfff;
}
.odd {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.second {
  position: absolute;
  bottom: 30px;
  right: 130px;
}
.third {
  position: absolute;
  top: 90px;
  right: 50px;
}
.even {
  position: absolute;
  top: 24px;
  right: 36px;
}
@media (max-width: 1200px) {
  .hero_cards {
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 12px;
  }
}
@media (max-width: 700px) {
  .hero_contents h2 {
    font-size: 48px;
  }
}
